@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello, World! The time on the servers is @DateTime.Now Remove this</p>
    <p>Welcome to Instech</p>
</div>
