@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello, World!</p>
    </br>
    <p>The time on the servers is @DateTime.Now</p>
    </br>
    <p>@Model.Hobbies</p>
</div>
